<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TodoApp.Properties.Settings.TodoDBConnectionString"
            connectionString="Data Source=DESKTOP-4FMU0HC\SQLSERVERBK;Initial Catalog=TodoDB;Persist Security Info=True;User ID=CertifyTester;Password=12345;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>